@charset "UTF-8";
.posr-1 {
    display: inline;
    position: absolute;
    left: 200px;
}
.posr-2 {
    display: inline;
    position: absolute;
    left: 225px;
}
.posr-3 {
    display: inline;
    position: absolute;
    left: 250px;
}
.posr-4 {
    display: inline;
    position: absolute;
    left: 275px;
}
.pos0 {
    display: inline;
    position: absolute;
    left: 300px;
}
.pos1 {
    display: inline;
    position: absolute;
    left: 325px;
}
.pos2 {
    display: inline;
    position: absolute;
    left: 350px;
}
.pos3 {
    display: inline;
    position: absolute;
    left: 375px;
}
.pos4 {
    display: inline;
    position: absolute;
    left: 400px;
}
.pos5 {
    display: inline;
    position: absolute;
    left: 425px;
}
.pos6 {
    display: inline;
    position: absolute;
    left: 450px;
}
.pos7 {
    display: inline;
    position: absolute;
    left: 475px;
}
.pos8 {
    display: inline;
    position: absolute;
    left: 500px;
}
.pos9 {
    display: inline;
    position: absolute;
    left: 550px;
}
.pos10 {
    display: inline;
    position: absolute;
    left: 600px;
}
.pos11 {
    display: inline;
    position: absolute;
    left: 650px;
}
.pos12 {
    display: inline;
    position: absolute;
    left: 700px;
}
.pos13 {
    display: inline;
    position: absolute;
    left: 750px;
}
.posl-1 {
    display: inline;
    padding-left: 30px;
}
.posl-2 {
    display: inline;
    padding-left: 60px;
}
