@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
html,body {
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
    letter-spacing: 1px;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
#header {
	display: none;
}
#top-menu {
	display: none;
}
#menu-table {
    display: none;
}

#left {
	display: none;
}
#right {
	display: none;
}
#contents {
    background-color: #ffffff;
	width: 100%;
}
#toolbar0 {
    display: none;
}
#toolbar1 {
    display: none;
}
#toolbar2 {
    display: none;
}
#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 15px;
	text-align: center;
	font-size: 11px;
	border-top: 1px solid #696969;
	background-color: #f5f5f5;
	z-index: 2;
}
.base {
    width: 96%;
    background: url(../img/bgcom.gif);
    line-height: 1.5;
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.base_win {
    width: 96%;
    background: url(../img/bgcom.gif);
    line-height: 1.5;
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.os {
    display: none;
}
.num {
    width: 30px;
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
}
.subject {
    width: 100%;
    color: #ff4500;
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}
#bann {
    display: none;
}
.count {
    display: none;
}
.term {
    position: relative;
    width: 96%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border: 2px solid #696969;
}
.term tr td {
    padding: 10px;
    font-size: 14px;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0px;
    line-height: 1.4;
}
.term td a {
    text-decoration: none;
}
.pad {
    width: 96%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border: #696969 1px solid;
}
.pad tr td {
    padding: 10px;
    font-size: 14px;
    font-family: Arial;
    color: #000000;
    letter-spacing: 1px;
    line-height: 1.4;
}
.color1 {
    display: inline;
    color: #0000cd;
}
.color1 a {
    display: inline;
    color: #0000cd;
}
.color2 {
    display: inline;
    color: #c71585;
    font-family: Tahoma, Arial, sans-serif;
    white-space: noWrap;
}
.img {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.pa1{
    display: inline;
    padding-left: 15px;
}
.com {
    border-collapse:collapse;
}
.com tr td {
    font-size: 13px;
    font-family: Tahoma, Arial, sans-serif;
    line-height: 1.5;
    vertical-align: top;
    padding-left: 10px;
    border: #aaaaaa 1px solid;
}
.date {
    display: inline;
    position: absolute;
    top: 25px;
    right: 20px;
    color: black;
    font-weight: normal;
    letter-spacing: 1px;
}
.block {
    display: block;
    margin-bottom: 21px;
}
.preblock {
    display: inline;
    white-space : pre;
}
.posr-1 {
    display: inline;
    position: absolute;
    left: 200px;
}
.posr-2 {
    display: inline;
    position: absolute;
    left: 225px;
}
.posr-3 {
    display: inline;
    position: absolute;
    left: 250px;
}
.posr-4 {
    display: inline;
    position: absolute;
    left: 275px;
}
.pos0 {
    display: inline;
    position: absolute;
    left: 300px;
}
.pos1 {
    display: inline;
    position: absolute;
    left: 325px;
}
.pos2 {
    display: inline;
    position: absolute;
    left: 350px;
}
.pos3 {
    display: inline;
    position: absolute;
    left: 375px;
}
.pos4 {
    display: inline;
    position: absolute;
    left: 400px;
}
.pos5 {
    display: inline;
    position: absolute;
    left: 425px;
}
.pos6 {
    display: inline;
    position: absolute;
    left: 450px;
}
.pos7 {
    display: inline;
    position: absolute;
    left: 475px;
}
.pos8 {
    display: inline;
    position: absolute;
    left: 500px;
}
.pos9 {
    display: inline;
    position: absolute;
    left: 550px;
}
.pos10 {
    display: inline;
    position: absolute;
    left: 600px;
}
.pos11 {
    display: inline;
    position: absolute;
    left: 650px;
}
.pos12 {
    display: inline;
    position: absolute;
    left: 700px;
}
.pos13 {
    display: inline;
    position: absolute;
    left: 750px;
}
.posl-1 {
    display: inline;
    padding-left: 30px;
}
.posl-2 {
    display: inline;
    padding-left: 60px;
}
